# Ignore all data, as it should not be in version control
/data/

# Ignore Python cache
__pycache__/

# Ignore a venv environment folder if one is ever created
/climate_downscaling/

# System files
.DS_Store

# plots 
/plots/
/results/
/reports/
/tables/

